body{
    background-color: antiquewhite;
    font-family: "Tagesschrift", system-ui;
}

div{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: "Tagesschrift", system-ui;
    position: relative;
}


h1{
    text-align: center;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Tagesschrift", system-ui;

}
  
button:hover {
    background-color: blue;
}